language: python
python: 
  - '2.7'

before_install:
- sudo apt-get update -qq
- pip install toil[all]
- pip install . --process-dependency-links
- pip install -r dev-requirements.txt

script:
  - python setup.py test
  - flake8 --select=E121,E123,E126,E226,E24,E704,W503,W504 --ignore=E501 wfinterop/

after_success:
  - coveralls
